HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.class
# Dependency directories
node_modules/
yarn-error.log
yarn.lock

# Build files
/build/
/dist/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Logs and test databases
logs/
*.log
*.log.*
*.tmp
*.pid
*.seed
*.pid.lock

# Yarn Integrity file
.yarn/*
!/.yarn/patches
!/.yarn/releases
!/.yarn/plugins
!/.yarn/sdks
!/.yarn/versions
